body,html{
    background-color:rgb(116, 0, 188);

}
.nadpis{
    position: absolute;
    left: 47%;
}

.imagine{
    position: absolute;
    left: 10%;
    top: 20%;
    height: 300px
}

.text{
    position: absolute;
    left: 10%;
    top:10%;
    font-size: 28px;
    color: red;

}

.obrazek{
    position: absolute;
    height: 300px; 
    left: 45%;
    top: 21%; 
}

.text1{
    position: absolute;
    left: 45%;
    top: 11%;
    font-size: 28px;

}

.imag{
    position: absolute;
    height:350px;
    left: 80%;
    top: 20%
}

.text3{
    position: absolute;
    left: 80%;
    font-size: 28px;
    top: 10%
}

.text4{
    position: absolute;
    left: 10%;
    font-size: 30px;
    top: 70%
}

.video{
    position: absolute;
    left: 45%;
    top: 70%
}

div{
    color: rgb(255, 0, 0);}